*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--Brand-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #742700;
}

/* Custom scrollbar */

.pw-works-subtitle-green {
    color: #369E12;
}

.pw-works-subtitle-red {
    color: #E02323;
    text-decoration: line-through;
}

/* colors */

:root {
    --Brand-color: #E85802;
    --brand-color-unavailable: #DEA583
    --button-color: #FFFFFF;
    --Button-color-hover: #BF4000;
    --Links-and-des: #333333;
    --Links-icons-hover: #FFFFFF;
    --scroll-down: #BBBBBB;
}

/* header menu */

.pw-header-logo-mobile-menu {
    display: none;
}

.pw-mobile-menu-container {
    display: none;
}

.pw-header-mobile-menu-container {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

.pw-header-list {
    margin-left: auto;
}

.pw-header-list-item {
    display: inline-block;
    margin-left: 24px;
}

.pw-header-list-item:first-child {
    margin-left: 0px;
}

.pw-header-list-item-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--Brand-color);
    display: block;
    position: relative;
}

.pw-header-list-item-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 80px;
    border-top: 5px solid var(--Brand-color);
    border-bottom: 5px solid var(--Brand-color);
    border-radius: 4px;
    position: absolute;
    top: -20px;
    transition: 350ms cubic-bezier(.61,0,.51,1);
}

.pw-header-list-item-link:hover::after {
    width: 100%;
    height: 36px;
    position: absolute;
    top: 0px;
    transition: 350ms cubic-bezier(.61,0,.51,1);
    cursor: pointer;
}

.pw-header-list-item-link-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

/* section about me */

.pw-about-me-info-container {
    animation-name: info;
    animation-duration: 1000ms;
    transition: 350ms cubic-bezier(.61,0,.51,1);
}

.pw-about-me-picture-container {
    animation-name: personalpicture;
    animation-duration: 1000ms;
    transition: 350ms cubic-bezier(.61,0,.51,1);
}

.pw-about-me-container {
    width: 1155px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 166px;
    display: flex;
    align-items: center;
}

.pw-about-me-info-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: var(--Brand-color);
}

.pw-about-me-info-title-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--Links-and-des);
    margin-bottom: 15px;
}

@keyframes info {

    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }

}

@keyframes personalpicture {
    
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }

}

/* buttons */

.pw-about-me-info-button-list {
    display: flex;
}

.pw-about-me-info-button-container {
    width: 448px;
    display: flex;
    margin-top: 15px;
}

.pw-about-me-info-buttons-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--Links-icons-hover);
}

.pw-about-me-info-button-list-item {
    border: none;
    outline: none;
    background-color: transparent;
    width: 212px;
    padding: 16px 50px;
    background: var(--Brand-color);
    border-radius: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: 250ms cubic-bezier(.94,-0.01,.15,.99);
    margin-bottom: 0px;
    margin-left: 24px;
}

.pw-about-me-info-button-list-item:hover {
    background: var(--Button-color-hover);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 250ms cubic-bezier(.94,-0.01,.15,.99);
}

.pw-about-me-info-button-list-item:first-child {
    margin-left: 0px;
}

/* Picture */

.pw-about-me-picture-container {
    margin-left: 259px;
}

.pw-about-me-picture {
    width: 448px;
    display: block;
}

/* scroll down */

.pw-portfolio-scroll-down-container {
    width: 100%;
    background: var(--scroll-down);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 84px;
}

.pw-portfolio-scroll-down-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
}

.pw-portfolio-scroll-down-title-icon {
    width: 14px;
    height: 15px;
    animation-name: scrollanimation;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scrollanimation {

    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* section works */

.pw-works-container {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    margin-top: 80px;
    scroll-behavior: smooth;
}

.pw-works-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: var(--Brand-color);
    margin-bottom: 48px;
}

.pw-works-subtitle {
    font-weight: 400;
    font-size: 29px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: var(--Links-and-des);
}

/* cards */

/* skills */

.pw-works-skills-container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.pw-works-skills-list {
    display: flex;
    margin-top: 25px;
}

.pw-works-skills-list-item {
    width: 448px;
    margin-left: 24px;
}

.pw-works-skills-list-item:first-child {
    margin-left: 0px;
}

.pw-works-skills-list-item-image {
    width: 448px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pw-works-skills-list-item-image-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: var(--Links-and-des);
}

.pw-works-skills-list-item-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: var(--Brand-color);
    text-align: center;
    margin-top: 34px;
}

.pw-works-skills-list-item-title-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--Links-and-des);
    text-align: center;
    margin-top: 12px;
}

.pw-works-skills-list-item-buttons-container {
    margin-top: 15px;
}

.pw-works-skills-list-item-button-link {
    background: var(--Brand-color);
    border-radius: 20px;
    margin-top: 15px;
    transition: 250ms cubic-bezier(.94,-0.01,.15,.99);
    padding: 16px 163px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    display: block;
    text-align: center;
}

.pw-works-skills-list-item-button-link:hover {
    background: var(--Button-color-hover);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 250ms cubic-bezier(.94,-0.01,.15,.99);
    cursor: pointer;
}

.pw-works-skills-list-item-button-link-unavailable {
    background: var(--brand-color-unavailable);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: center;
}

.pw-works-skills-list-item-buttons-list-item {
    width: 448px;
    margin-top: 15px;
}

.pw-works-skills-list-item-buttons-list-item:first-child {
    margin-top: 0px;
}

/* contacts */

.pw-contacts {
    scroll-behavior: smooth;
    margin-top: 80px;
    margin-bottom: 90px;
}

.pw-contacts-container {
    width: 1392px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 51px;
    padding-right: 51px;
}

.pw-contacts-personal-picture {
    display: block;
    margin-right: 65px;
}

.pw-contacts-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pw-contacts-list-item {
    width: 346px;
    margin-top: 30px;
}

.pw-contacts-list-item:first-child {
    margin-top: 0px;
}

.pw-contacts-title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: var(--Brand-color);
}

.pw-contacts-list-item-container {
    display: flex;
    align-items: center;
}

.pw-contacts-list-item-icon {
    width: 50px;
    height: 50px;
}

.pw-contacts-list-item-links {
    margin-left: 58px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.2px;
    color: var(--Links-and-des);
}

/* footer */

.pw-footer-container {
    text-align: center;
    margin-bottom: 45px;
}

.pw-footer-button {
    border: none;
    outline: none;
    background-color: transparent;
    width: 448px;
    padding: 16px 115px;
    background: var(--Brand-color);
    border-radius: 20px;
    transition: 250ms cubic-bezier(.94,-0.01,.15,.99);
}

.pw-footer-button:hover {
    background: var(--Button-color-hover);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 250ms cubic-bezier(.94,-0.01,.15,.99);
}

.pw-footer-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.2px;
    color: var(--Links-icons-hover);
}